<li>{{#link-to 'post' post.id}}{{post.title}} by {{post.author}} {{/link-to}}
  and again as a computed property, {{titleAuthor}}
  <br>
  <h4>Vote count: {{post.votes}}</h4>
</li>
<img src={{post.image}}>
